.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0;
    gap: 1px 1px;
    grid-template-areas: "text graphic";
  }
  
  .text { grid-area: text; }
  
  .graphic { grid-area: graphic; }

img {
    width: 100%;
    max-height: 100vh;
}

.one, .two, .three, .homeLink, .four {
    padding-left: 10vw;
    padding-right: 10vw;
    
}

.four {
    line-height: 0.2px;
    padding-bottom: 30px;
}

.one, .two, .three, .four{
    font-family: "Times New Roman";
    font-size: 1.5vw;
}

a.homeLink:link {
    font-family: "Times New Roman";
    font-size: 3vw;
    text-decoration: none;
    color: #0B5318;
}

a.homeLink:hover {
    color: #0B5318;
    background-color: #F8E6CB;
}

a.homeLink:visited {
    color: #0B5318;
}


.valign {
    padding-top: 12vw;
    padding-bottom: 10vw;
}



